.sidebarContainer {
    background-color: white;
    width: 28vw;
    height: 100vh;
}

.addProjectContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 120px;
    background-color: white;
    border-bottom: 2px solid black;
    font-weight: 600;
    font-size: large;
}

.sidebarProjectDisplayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
}

.addProjectTextContainer {
    font-size: 22px;
}

.addProjectBtn {
    width: 89px;
    height: 89px;
    font-size: 78px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

/* PROJECT CARD CSS */
.projectCard {
    border: 2px solid black;
    width: 360px;
    height: 144px;
    font-size: 36px;
    padding-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.projectNameContainer {
    height: 100px;
    width: 358px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 12px;
}

.projectCardButtonContainer{
    padding-top: 4px;
     display: flex;
     justify-content: space-between;
     width: 340px;
     height: 34px;
}

.deleteProjectBtn {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 100px;
    border: 1px solid white;
    font-size: large;
    font-weight: 1000;
}

.editNameBtn {
    width: 48px;
    height: 26px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: large;
    font-weight: 600;
}