body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.appNameContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 18px;
    align-items: center;
    font-size: 62px;
    font-weight:bolder;
    background-color: white;
    height: 78px;
    border-bottom: 4px solid black;
}

.appFrameContainer {
    display: flex;
    background-color: white;
}

/* SIDEBAR CSS MANAGEMENT */

.sidebarContainer {
    background-color: white;
    width: 28vw;
    height: 100vh;
}

.addProjectContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background-color: white;
    border-bottom: 2px solid black;
    font-weight: 600;
    font-size: large;
}

.sidebarProjectDisplayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
}

.projectAdd {
    width: 48px;
    height: 48px;
    font-size: large;
    border-radius: 38px;
    border: 1px solid black;
    position: relative;
    right: 260px;
}

/* PROJECT CARD CSS */
.projectCard {
    border: 2px solid black;
    width: 20vw;
    height: 144px;
    font-size: 36px;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.removeCardButton {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 100px;
    border: 1px solid white;
    font-size: large;
    font-weight: 1000;
    box-shadow: none;
}

.editNameBtn {
    width: 48px;
    height: 26px;
    position: relative;
    top: 110px;
    right: 190px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: large;
    font-weight: 600;
}

/* DISPLAY CSS MANAGEMENT */
.taskDisplayContainer {
    width: 100vw;
    border-left: 4px solid black ;
}

.taskDisplayTopPanel {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    border-bottom: 1px solid black;
    font-size: 38px;
}

.taskAdd {
    width: 128px;
    height: 34px;
    font-size: large;
    border-radius: 18px;
}

.taskCardContainer {
    background-color: white;
}

.cardDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 42px;
    gap: 20px;
}

.topPanel {
    display: flex;
    height: 54px;
    width: 890px;
    justify-content: space-between;
    padding: 12px;
}

.taskCardName {
    width: 288px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 12px;
}

.taskCardPrio{
    width: 144px;
    height: 44px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 12px;
}

.taskCompletion {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background-color: rgb(253, 253, 253);
}

.midPanel {
display: flex;
padding: 12px;
height: 228px;
width: 820px;
border-radius: 12px;
border: 2px solid black;
}

.taskCardDetails {
    padding: 32px;
    display: flex;
    font-size: 28px;
}

.taskCard{
    display: flex;
    flex-direction: column;
    width: 928px;
    height: 328px;
    border: 4px solid black;
    border-radius: 42px;
    justify-content: center;
    align-items: center;
}

.taskCardDate {
    display: flex;
    align-items: center;
    width: 88px;
    height: 28px;
    font-size: 24px;
    font-weight: 900;
}
