body {
    width: 100vw;
    height: 100vh;
}

.appNameContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 18px;
    align-items: center;
    font-size: 62px;
    font-weight:bolder;
    background-color: rgba(148, 148, 192, 0.719);
    height: 78px;
    border: 1px solid black;
}

.appFrameContainer {
    display: flex;
    background-color: rgba(22, 22, 36, 0.664);
    gap: 100px;
}

.sidebarContainer {
    background-color: rgb(204, 176, 230);
    height: 100vh;
    width: 18vw;
}

.addProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgba(123, 69, 173, 0.137);
    border-radius: 12px;
    border: 1px solid black;
}

.sidebarProjectDisplayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 8px;
}

.projectAdd {
    width: 128px;
    height: 34px;
    font-size: large;
    border-radius: 18px;
}

.taskDisplayTopPanel {
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    border-bottom: 1px solid black;
    font-size: 38px;
}

.taskAdd {
     width: 128px;
    height: 34px;
    font-size: large;
    border-radius: 18px;
}